<h4 class="title">New author</h4>
<form class="form-horizontal" {{action 'save' on='submit'}}>
  <div>
    <b>Last name:</b>
    <span><input id="lastName" name="lastName" required></span>
  </div>
  <div>
    <b>First name:</b>
    <span><input id="firstName" name="firstName" required></span>
  </div>
  <div>
    <button type="submit">Save</button>
  </div>
</form>