<div class="well">
    Welcome to Authors &amp; Books catalog. Use the menu above to explore the catalog.
    <br>
    This is the <b>EmberJS + Spring MVC demo</b>.
    It works a little bit weird because I used Ember Data. Anyway, lesson learned: <b>never Ember Data again!</b>  
</div>
